*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.pl-50{
    padding-left: 50px;
}

h1{
    height: 150px;
    width: 100%;
    line-height: 170px;
    vertical-align: center;
    background-color: rgb(253,187,64);
}

.burger{
    width: 230px;
    height: 230px;
}

main{
    width: 100%;
    height: calc(100vh - 250px);
}

.container{
    width: 80%;
    margin-left: 4%;
    margin-right: 16%;
}

.color-grey{
    color: grey;
}

.pt-100{
    padding-top: 100px;
}

.pb-50{
    padding-bottom: 50px;
}

.column{
    flex-direction: column;
}

.size-img{
    height: 80px;
    width: 80px;
}

.inline-block{
    display: inline-block;
}

.align-items-center{
    align-items: center;
}

.pb-20{
    padding-bottom: 20px;
}

.pl-20{
    padding-left: 20px;
}

.square{
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-color: rgb(211,51,89);
    appearance: none;
    cursor: pointer;
}

.square:checked:after {
    position: absolute;
    top: -8px;
    left: 1px;
    font-size: 25px;
    font-weight: bolder;
    content: '\2713';
}

.ml-20{
    margin-left: 20px;
}

.color-pink{
    color: rgb(211,51,89);
}

.inline{
    display: inline;
}

#calculate{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    background-color: rgb(253,187,64);
    border-radius: 8px;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    color: white;
    background-color: rgb(211,51,89);
    width: 100%;
    height: 100px;
    line-height: 100px;
    vertical-align: center;
}

#name{
    border: none;
    cursor: pointer;
    margin-top: 100px;
    font-size: 30px;
}

#coupon{
    border: none;
    cursor: pointer;
    margin-left: 20px;
    display: inline;
    font-size: 18px;
}